@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .product-image-shadow {
    filter: drop-shadow(-8.50807px 6.80646px 18.71776px 0px rgba(0, 0, 0, 0.14));
  }

  .bg-backdrop {
    background: linear-gradient(0deg, rgba(0,0,0,.56), rgba(0,0,0,.56));
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 31%;
    --border: 0 0% 96%;
    --border-foreground: 210 40% 98%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --backdrop: 216 28% 7%;
    --backdrop-foreground: 215 20% 86%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --border: 0 0% 31%;
    --border-foreground: 215 20% 86%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --backdrop: 0 0% 100%;
    --backdrop-foreground: 0 0% 100%;
  }
}

html {
  font-size: 10px;
}

.skeleton {
  --bg: #e1e1e1;
  --glare-bg: linear-gradient(90deg,
      transparent,
      hsla(0, 0%, 100%, 0.4),
      transparent);
  position: relative;
  background-color: var(--bg);
  overflow: hidden;
}

.skeleton::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--glare-bg);
  transform: translateX(-100%);
  animation: skeleton-glare 1.75s infinite ease-out;
  z-index: 1;
}

@keyframes skeleton-glare {
  to {
    transform: translateX(100%);
  }
}